<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  package="com.cansiny.eform"
	  android:versionCode="1"
	  android:versionName="1.0" >

  <uses-sdk
      android:minSdkVersion="13"
      android:targetSdkVersion="17" />

  <application
      android:name="EFormApplication"
      android:logo="@drawable/launcher"
      android:icon="@drawable/launcher"
      android:label="@string/app_name"
      android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
      android:allowBackup="true"
      android:allowClearUserData="false"
      android:largeHeap="true">
    <activity
        android:name="com.cansiny.eform.HomeActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />	
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.cansiny.eform.LogActivity"></activity>
    <activity android:name="com.cansiny.eform.FormActivity"></activity>
  </application>

</manifest>
